extend ../../layout/layout.pug
append stylesheet
    link(rel="stylesheet", href="../../../styles/app.css")
    link(rel="stylesheet", href="../../../styles/login.css")
block title
    title Log In
block main
    .login 
        img(src="../../../images/sign.png", alt="")
        .form 
            .head
                span.log Log in to Exclusive
                span.note Enter your details below
            .body 
                input(type="text" placeholder="Email or Phone Number")
                input(type="Password" placeholder="Password")
            .bott
                +type_button("small","Log In")
                .more 
                    a(href="") Forget Password?