extend ./views/layout/layout
append stylesheet
    link(rel="stylesheet", href="./styles/Wish_list.css")
block title
    title Wish List
block main
    section.wish_list 
        .wish_list__top 
            span.title Wishlist (4)
            +type_button('secondary','Move All To Bag')
        .wish_list__content
            +product('gucci_bag','Gucci duffle bag',960,1160,0)
            +product('RGB_cooler','RGB liquid CPU Cooler',1960,'',0)
            +product('GP11_gamePad','GP11 Shooter USB Gamepad',550,'',0)
            +product('Satin_jacket','Quilted Satin Jacket',750,'',0)
    section.product__suggestion
        .title 
            h4 Just For You
            +type_button('secondary','See All')
        .suggestion__lists
            +product('GamingLaptop','ASUS FHD Gaming Laptop',960,1160,65)
            +product('GamingMonitor','IPS LCD Gaming Monitor',1160,'',65)
            +product('HavitGamePad','HAVIT HV-G92 Gamepad',560,'',65)
            +product('AK900KeyBoard','AK-900 Wired Keyboard',200,'',65)
            +product('gucci_bag','Gucci duffle bag',960,1160,0)
            +product('RGB_cooler','RGB liquid CPU Cooler',1960,'',0)
            +product('GP11_gamePad','GP11 Shooter USB Gamepad',550,'',0)
            +product('Satin_jacket','Quilted Satin Jacket',750,'',0)
block script 
    script(src="./js/wishlist.js") 
        