
.home {
    margin-top: 40px;
    & .block-top-home {
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
        & .menu-main {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 217px;
            margin: 0 auto;
            border-right: 0.5px solid rgba(0, 0, 0, 0.3);
            & .listcate {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 10px;
                &:hover {
                    background-color: red;
                    border-radius: 5px;
                }
                & span {
                    color: var(--Text2, #000);
                    text-align: center;
                    /* Title/16PX Regular */
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    /* 150% */
                }
            }
        }
        & .slidingbar {
            width: 892px;
            height: 400px;
            background-color: #000;
            display: flex;
            justify-content: flex-end;
            padding-left: 65px;
            position: relative;

            & .leftblock{
                display: flex;
                flex-direction: column;
                margin-top: 70px;
                & .headblock{
                    display: flex;
                    align-items: center;
                    gap: 24px;
                    & span{
                        color: var(--Text, #FAFAFA);
                        text-align: center;
                        /* Title/16PX Regular */
                        font-family: Poppins;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; /* 150% */
                    }
                }
                & .ads{
                    color: var(--Text, #FAFAFA);
                    /* Heading/48PX SemiBold */
                    font-family: Inter;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 60px; /* 125% */
                    letter-spacing: 1.92px;
                }
                & .headlink{
                    display: flex;
                    gap: 8px;
                    & a{
                        color: var(--Text, #FAFAFA);
                        text-align: center;
                        /* Title/16PX Medium */
                        font-family: Poppins;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px; /* 150% */
                    }
                }
            }
        }
    }
    & .block-flashsale{
        border-bottom: 1PX solid #000;
        margin-bottom: 40px;
        & .blocktop{
            display: flex;
            justify-content: space-between;
            & .topleft{
                display: flex;
                gap: 90px;
                & .title{
                    display: flex;
                    gap: 24px;
                    flex-direction: column;
                    & .tittop{
                        display: flex;
                        gap: 16px;
                        align-items: center;
                        & .rec{
                            width: 20px;
                            height: 40px;
                            background-color: #DB4444;
                        }
                        & span{
                            color: var(--Secondary-2, #DB4444);
                            /* Title/16PX Semibold */
                            font-family: Poppins;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 20px; /* 125% */
                        }
                    }
                    & .tit{
                        color: var(--Text2, #000);
                        /* Heading/36PX SemiBold */
                        font-family: Inter;
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 48px; /* 133.333% */
                        letter-spacing: 1.44px;
                    }
                }
                & .saleclock{
                    margin-top: auto;
                }
            }
            & .butt{
                display: flex;
                align-items: flex-end;
                gap: 8px;
                & button{
                    background-color: #F5F5F5;
                    border-radius: 48px;
                    padding: 11px;
                    cursor: pointer;
                }
            }
        }
        & .blockbody{
            display: grid;
            grid-template-columns: auto auto auto auto auto auto auto auto auto;
            gap: 30px;
            margin-top: 40px;
            margin-bottom: 60px;
            object-fit: cover;
            overflow-x: scroll;
            overflow-y: hidden;
        }
        & .blockbottom{
            margin-bottom: 60px;
            display: flex;
            justify-content: center;
        }
    }
    & .block-category{
        border-bottom: 1PX solid #000;
        margin-bottom: 40px;
        & .blocktop{
            display: flex;
            justify-content: space-between;
            & .topleft{
                display: flex;
                gap: 90px;
                & .title{
                    display: flex;
                    gap: 24px;
                    flex-direction: column;
                    & .tittop{
                        display: flex;
                        gap: 16px;
                        align-items: center;
                        & .rec{
                            width: 20px;
                            height: 40px;
                            background-color: #DB4444;
                        }
                        & span{
                            color: var(--Secondary-2, #DB4444);
                            /* Title/16PX Semibold */
                            font-family: Poppins;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 20px; /* 125% */
                        }
                    }
                    & .tit{
                        color: var(--Text2, #000);
                        /* Heading/36PX SemiBold */
                        font-family: Inter;
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 48px; /* 133.333% */
                        letter-spacing: 1.44px;
                    }
                }
            }
            & .butt{
                display: flex;
                align-items: flex-end;
                gap: 8px;
                & button{
                    background-color: #F5F5F5;
                    border-radius: 48px;
                    padding: 11px;
                    cursor: pointer;
                }
            }
        }
        & .blockbody{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            gap: 30px;
            margin-top: 40px;
            margin-bottom: 60px;
        }
    }
    & .block-bestsale{
        margin-bottom: 40px;
        & .blocktop{
            display: flex;
            justify-content: space-between;
            & .topleft{
                display: flex;
                gap: 90px;
                & .title{
                    display: flex;
                    gap: 24px;
                    flex-direction: column;
                    & .tittop{
                        display: flex;
                        gap: 16px;
                        align-items: center;
                        & .rec{
                            width: 20px;
                            height: 40px;
                            background-color: #DB4444;
                        }
                        & span{
                            color: var(--Secondary-2, #DB4444);
                            /* Title/16PX Semibold */
                            font-family: Poppins;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 20px; /* 125% */
                        }
                    }
                    & .tit{
                        color: var(--Text2, #000);
                        /* Heading/36PX SemiBold */
                        font-family: Inter;
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 48px; /* 133.333% */
                        letter-spacing: 1.44px;
                    }
                }
            }
            & .butt{
                display: flex;
                align-items: flex-end;
            }
        }
        & .blockbody{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 30px;
            margin-top: 40px;
            margin-bottom: 60px;
        }
    }
    & .block-product{
        margin-bottom: 40px;
        & .blocktop{
            display: flex;
            justify-content: space-between;
            & .topleft{
                display: flex;
                gap: 90px;
                & .title{
                    display: flex;
                    gap: 24px;
                    flex-direction: column;
                    & .tittop{
                        display: flex;
                        gap: 16px;
                        align-items: center;
                        & .rec{
                            width: 20px;
                            height: 40px;
                            background-color: #DB4444;
                        }
                        & span{
                            color: var(--Secondary-2, #DB4444);
                            /* Title/16PX Semibold */
                            font-family: Poppins;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 20px; /* 125% */
                        }
                    }
                    & .tit{
                        color: var(--Text2, #000);
                        /* Heading/36PX SemiBold */
                        font-family: Inter;
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 48px; /* 133.333% */
                        letter-spacing: 1.44px;
                    }
                }
            }
            & .butt{
                display: flex;
                align-items: flex-end;
                gap: 8px;
                & button{
                    background-color: #F5F5F5;
                    border-radius: 48px;
                    padding: 11px;
                    cursor: pointer;
                }
            }
        }
        & .blockbody{
            display: grid;
            grid-template-columns: auto auto auto auto ;
            gap: 30px;
            margin-top: 40px;
            margin-bottom: 60px;
            object-fit: cover;
            overflow-x: scroll;
            overflow-y: hidden;
        }
        & .blockbottom{
            margin-bottom: 60px;
            display: flex;
            justify-content: center;
        }
    }
    & .block-featured{
        margin-bottom: 40px;
        & .blocktop{
            display: flex;
            justify-content: space-between;
            & .topleft{
                display: flex;
                gap: 90px;
                & .title{
                    display: flex;
                    gap: 24px;
                    flex-direction: column;
                    & .tittop{
                        display: flex;
                        gap: 16px;
                        align-items: center;
                        & .rec{
                            width: 20px;
                            height: 40px;
                            background-color: #DB4444;
                        }
                        & span{
                            color: var(--Secondary-2, #DB4444);
                            /* Title/16PX Semibold */
                            font-family: Poppins;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 20px; /* 125% */
                        }
                    }
                    & .tit{
                        color: var(--Text2, #000);
                        /* Heading/36PX SemiBold */
                        font-family: Inter;
                        font-size: 36px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 48px; /* 133.333% */
                        letter-spacing: 1.44px;
                    }
                }
            }
        }
        & .blockbody{

        }
    }
    & .frame600{
        display: flex;
        padding: 40px;
        background-color: #000;
        margin-bottom: 70px;
        height: 500px;
        justify-content: space-between;
        & .block_left{
            display: flex;
            flex-direction: column;
            gap: 32px;
            max-width: 440px;
            & .cate{
                color: var(--Button1, #0F6);
                /* Title/16PX Semibold */
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px; /* 125% */
            }
            & .titleframe600{
                color: var(--Text, #FAFAFA);
                /* Heading/48PX SemiBold */
                font-family: Inter;
                font-size: 48px;
                font-style: normal;
                font-weight: 600;
                line-height: 60px; /* 125% */
                letter-spacing: 1.92px;
                margin-bottom: 10px;
            }
            & .clock{
                gap: 24px;
                #day{
                    background-image: url('../../../images/Ellipse.svg');
                    width: 62px;
                    height: 62px;
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 16px;
                    &::after{
                        content: "Days";
                        transform: translateY(-4px);
                        color: var(--Text2, #000);
                        font-family: Poppins;
                        font-size: 11px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px; /* 163.636% */
                        bottom: 0;
                    }
                    &::before{
                        content: "";
                    }
                }
                #hour{
                    background-image: url('../../../images/Ellipse.svg');
                    width: 62px;
                    height: 62px;
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 16px;

                    &::after{
                        content: "Hours";
                        transform: translateY(-4px);
                        color: var(--Text2, #000);
                        font-family: Poppins;
                        font-size: 11px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px; /* 163.636% */
                    }
                    &::before{
                        content: "";
                    }
                }
                #minute{
                    background-image: url('../../../images/Ellipse.svg');
                    width: 62px;
                    height: 62px;
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 16px;
                    &::after{
                        content: "Minutes";
                        transform: translateY(-4px);
                        color: var(--Text2, #000);
                        font-family: Poppins;
                        font-size: 11px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px; /* 163.636% */
                    }
                    &::before{
                        content: "";
                    }
                }
                #second{
                    background-image: url('../../../images/Ellipse.svg');
                    width: 62px;
                    height: 62px;
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 16px;
                    &::after{
                        content: "Seconds";
                        transform: translateY(-4px);
                        color: var(--Text2, #000);
                        font-family: Poppins;
                        font-size: 11px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px; /* 163.636% */

                    }
                    &::before{
                        content: "";
                    }
                }
                & span{
                    color: var(--Text2, #000);
                    /* Title/16PX Semibold */
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px; /* 125% */
                }
                & .dot{
                    display: none;
                }
            }
            & .button{
                background-color: #0F6;
                width: 170px;
                height: 55px;
            }
        }
        & .forview{
            width: 600px;
            height: 420px;
            padding: 45px 16px;
        }
    }
}

.blockbody::-webkit-scrollbar{
    display: none;
}
.product{
    transition: transform 0.5s;
    &:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
}
.fullservices {
    display: flex;
    justify-content: center;
    gap: 88px;
}
.backtotop{
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    margin-bottom: 32px;
    flex-shrink: 0;
    & button{
        background-color: #F5F5F5;
        border-radius: 48px;
        padding: 11px;
        cursor: pointer;
        & img{
            transform: rotate(-90deg);
        }
    }
    
}
.dot{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    bottom: 0;
    left: 40%;
    margin-bottom: 5px;
    & li{
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        border-radius: 16px;
        border: 2px solid var(--Button, #000);
        background-color: #e04444;
        opacity: 0.5;
    }
}