*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  color: var(--Text2);
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

body {
  color: var(--Text2);
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.email {
  display: flex;
  width: 217px;
  padding: 12px 15px 12px 15px;
  align-items: center;
  gap: 20px;
  border: 1.5px solid var(--Text);
  border-radius: 4px;
  background-color: transparent;
}
.email input {
  overflow: hidden;
  border: none;
  color: var(--Text);
}
.email button {
  display: flex;
  flex-shrink: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  margin: 30px;
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: Poppins;
}

.button {
  display: inline-flex;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
}
.button--primary, .button--small {
  background: var(--Button2, #DB4444);
}
.button--primary span, .button--small span {
  font-weight: 500;
  color: var(--Text, #FAFAFA);
}
.button--secondary {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.button--secondary span {
  font-weight: 500;
  color: var(--Text2, #000);
}
.button--small {
  padding: 10px 48px;
}
.button--secondary:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.button--secondary:hover span {
  color: var(--Text1, #7D8184);
}
.button--primary:hover, .button--small:hover {
  background: var(--Hover-Button, #E07575);
}

.product {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}
.product__top {
  background: var(--Secondary, #F5F5F5);
  position: relative;
  width: 270px;
  height: 250px;
  border-radius: 4px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.product__top .tag {
  position: absolute;
  display: inline-block;
  color: var(--Text, #FAFAFA);
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 4px;
  background: var(--Button1, #0F6);
  top: 12px;
  left: 12px;
}
.product__top .icons {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.product__top .icons * {
  cursor: pointer;
}
.product__top button {
  display: none;
}
.product__top:hover button {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  font-size: 12px;
  background-color: #000;
  padding: 11px 0px;
  color: #fff;
}
.product__name {
  font-weight: 500;
  margin-bottom: 8px;
}
.product__bottom {
  display: flex;
  column-gap: 8px;
  flex-wrap: wrap;
}
.product__bottom .current_price {
  display: inline-block;
  color: var(--Secondary-2, #DB4444);
  caret-color: #000;
  font-weight: 500;
}
.product__bottom .prev_price {
  display: flex;
  width: 50%;
  color: var(--Button, #000);
  text-decoration-line: line-through;
  opacity: 0.5;
  margin-left: 4px;
  font-weight: 500;
}
.product__rating {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.product__rating .stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.product__rating .votes {
  color: var(--Text2, #000);
  font-weight: 600;
  opacity: 0.5;
  font-size: 14px;
}
.product__colors {
  caret-color: transparent;
  margin-top: 8px;
  display: flex;
  gap: 8px;
}
.product__colors input {
  display: none;
}
.product__colors input:checked + label {
  border: 2px solid #000;
}
.product__colors label {
  width: 22px;
  height: 22px;
  padding: 2px;
  border-radius: 100%;
  cursor: pointer;
  background-color: #fff;
}
.product__colors .first::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #A0BCE0;
}
.product__colors .second::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #E07575;
}

.footer {
  background-color: black;
}
.footer__content {
  padding: 80px 0px 60px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 87px;
}
.footer__column {
  display: flex;
  flex-direction: column;
  color: var(--Text, #FAFAFA);
  gap: 24px;
}
.footer__column h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
}
.footer__column a {
  color: var(--Text, #FAFAFA);
  text-decoration: none;
}
.footer__links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__links .link {
  max-width: 175px;
}
.footer__exclusive h3 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.72px;
}
.footer__exclusive .email {
  margin-top: -8px;
  border-radius: 4px;
  border: 1.5px solid var(--Text, #FAFAFA);
}
.footer__app__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__app__content span {
  font-size: 12px;
  font-weight: 500;
  opacity: 0.7;
}
.footer__app__content .img_links {
  display: grid;
  grid-template-areas: "qr ggplay" "qr appstore";
  column-gap: 8px;
  row-gap: 4px;
}
.footer__app__content .img_links .qr {
  grid-area: qr;
}
.footer__app__content .img_links .ggplay {
  grid-area: ggplay;
}
.footer__app__content .img_links .appstore {
  grid-area: appstore;
}
.footer__app .icon_links {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.footer__bottom {
  padding: 16px 0px 24px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.footer__bottom span {
  color: var(--Primary, #FFF);
  opacity: 0.5;
}
.footer__bottom img {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
