@forward "./accDropdown";
@forward "./button";
@forward "./cartMain";
@forward "./cartSection";
@forward "./cartTotal";
@forward "./category";
@forward "./coupon";
@forward "./flashSaleClock";
@forward "./googleSignUp";
@forward "./product";
@forward "./search";
@forward "./service";
@forward "./sendMail";
@forward "./arrivalproduct";