.cartSection {
    width: 1170px;
    height: 72px;

    border-radius: 4px;
    background: var(--Primary);
    /* Categogy/5 */
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    padding: 24px 40px;


    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;

    &__prop {
        grid-column: 1;
        display: flex;
        gap: 15px;
        align-items: center;

        & .image {
            display: flex;
            position: relative;

            & button {
                position: absolute;
                top: 0;
                left: 0;
                margin-left: -10px;
            }
        }
    }

    & .cartprice {
        display: grid;
        grid-column: 2;
    }

    & .cartsubtotal {
        display: grid;
        grid-column: 4;
    }

    #quantity {
        width: 72px;
        height: 44px;
        grid-column: 3;
        border-radius: 4px;
        border: 1.5px solid rgba(0, 0, 0, 0.40);
        padding: 6px 12px;
    }

    & span {
        color: var(--Text2, #000);

        /* Title/16PX Regular */
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
    }
}