.signup {
    display: flex;
    padding: 16px 86px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    max-width: 370px;
    max-height: 55px;

    & span {
        color: var(--Text2, #000);
        /* Title/16PX Regular */
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
    }
}