.service{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 10px #afafaf solid;
        background-color: black;
        border-radius: 100rem;
        margin-bottom: 24px;
    }
    &__title{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 8px;
        line-height: 140%;
    }
}