include ./accDropdown.pug
include ./button.pug
include ./cartMain.pug
include ./cartSection.pug
include ./cartTotal.pug
include ./category.pug
include ./coupon.pug
include ./flashSaleClock.pug
include ./googleSignUp.pug
include ./placeToInfoBox.pug
include ./product.pug
include ./search.pug
include ./service.pug
include ./sendEmail.pug
include ./employee.pug
include ./arrivalproduct.pug