mixin arrivalproduct(heading,details,img_link)
    .arrival-product
        .headingarrival
            h2= heading
            p= details
            a(href="#") Shop now!
        img(src=`../../images/${img_link}.png` alt='')