mixin cartMain
    .cartMain  
        .cartMain-container 
            span Product
        .cartMain-container 
            span Price
        .cartMain-container 
            span Quantity
        .cartMain-container 
            span Subtotal
