mixin cartMain
    .cart 
        .cart-container 
            span Product
        .cart-container 
            span Price
        .cart-container 
            span Quantity
        .cart-container 
            span Subtotal
