include ./button.pug
mixin cartTotal
    .container 
        h3 Cart Total 
        .sub
            span Subtotal: 
            span.subtotal 1170$
        hr
        .ship 
            span Shipping:
            span.shipfee Free 
        hr
        .tot 
            span Total: 
            span.total 1170$
        hr
        +type_button('primary','Procees to checkout')