.container 
    h3 Cart Total 
    .sub
        span Subtotal 
        span.subtotal 1170$
    .ship 
        span Shipping
        span.shipfee Free 
    .tot 
        span Total 
        span.total 1170$

    button Process to checkout 
    