mixin category(black_img, white_img, category_name)
    .category
        img.img--black(src=`../../images/icons/${black_img}.svg` alt='')
        img.img--white(src=`../../images/icons/${white_img}.svg` alt='')
        span= category_name