mixin service(icon, title, content)
    .service
        .service__icon
        img(src=`../../images/icons/${icon}.svg` alt='')
        h3.service__title= title
        span.service__content= content 