ul{
    list-style-type: none;
}
.list__shoppingCart{
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    .shoppingCarts{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    &__button{
        margin-top: -16px;
        display: flex;
        justify-content: space-between;
    }
}
.purchase{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 140px;
}