header.header 
    .header-top 
        .header-top-contain
            .head 
                p Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!
                a(href="") Shop now
            .header-top-language
                span English
                button  
                    img(src="../../images/icons/DropDown.svg", alt="")
    .header-contain 
        .logo Exclusive
        .link-website
            a(href="") Home
            a(href="") Contact
            a(href="") About
            a(href="") Sign Up 
        .frame552 
            include ../mixins/search.pug
            button.HeartIcons
                img(src="../../images/icons/Wishlist.svg", alt="")
            button.CartIcons
                img(src="../../images/icons/Cart1.svg", alt="")