@mixin items{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 57px;
    overflow: auto;
}


.wish_list{
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 80px;
    margin-bottom: 80px;
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title{
            font-size: 20px;
            line-height: 130%;
        }
    }
    &__content{
        @include items;
    }
}
.product__suggestion{
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4 {
            display: flex;
            font-size: 20px;
            line-height: 130%;
            align-items: center;
            justify-content: center;
            &:before{
                content: '';
                display: block;
                width: 20px;
                height: 40px;
                background-color: var(--Secondary-2);
                margin-right: 16px;
            }
        }
    }
    .suggestion__lists{
        @include items;
    }
    .suggestion__lists--active{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 57px;
    }
}